$mc: #ff671b;
$sc: #282828;

* {
    // outline: 1px solid #369;
}

.inner {
    width: 1200px;
    margin: 0 auto;
}

.Header {
    line-height: 100px;

    .inner {
        display: flex;
        justify-content: space-between;

        h1 {
            width: 70px;
        }

        nav {

            a {
                display: block;
            }

            >ul {
                display: flex;
                gap: 50px;
                font-size: 24px;
                font-weight: 700;

                >li {
                    position: relative;

                    &:hover {
                        color: $mc;
                    }

                    &:hover ul {
                        display: block;
                    }

                    ul {
                        display: none;
                        position: absolute;
                        top: 95px;
                        left: 50%;
                        transform: translateX(-50%);
                        width: 130px;
                        background: #fff;
                        color: $sc;
                        z-index: 999;
                        flex-direction: column;
                        line-height: 40px;
                        text-align: center;
                        border-top: 5px solid $mc;
                        border-radius: 0 0 25px 25px;

                        li {
                            font-size: 16px;
                            font-weight: 500;

                            &:hover {
                                background: $mc;
                                color: #fff;
                            }

                            &:last-child {
                                border-radius: 0 0 25px 25px;
                            }
                        }

                        li~li {
                            border-top: 1px solid #ddd;
                        }
                    }
                }
            }
        }
    }
}