@use 'App';

.container {
    width: 1200px;
    margin: 0 auto;

    h2 {
        position: relative;
        font-size: 40px;
        font-weight: 800;
        text-align: center;
        padding: 100px 0 30px;

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 80px;
            height: 5px;
            background: App.$sc;
        }
    }

    .vision {
        margin: 80px 0 100px;

        .img {
            width: 50%;
            margin: 0 auto;
        }

        .tit {
            text-align: center;

            ul {
                display: flex;
                gap: 25px;
                font-size: 40px;
                font-weight: 700;
                justify-content: center;
                margin: 50px 0 30px;
            }

            li~li {
                border-left: 5px solid;
                padding: 0 0 0 25px;
            }

            p {
                font-size: 60px;
                font-weight: 800;
                margin: auto 0;
                color: App.$mc;
            }
        }
    }

    .content {
        display: flex;
        gap: 50px;
    }

    .des {
        flex: 1;
        border: 1px solid #ddd;
        padding: 40px;
        margin: 0 0 100px;

        h3 {
            font-size: 26px;
            font-weight: 800;
            line-height: 1.25;
            min-height: 90px;
            text-align: center;
        }

        p {
            font-size: 16px;
            line-height: 1.3;
            text-align: justify;
        }
    }

    .ceo {
        margin: 80px 0 100px;
        display: flex;

        .img {
            flex: 1;
        }

        .txt {
            flex: 1;
            padding: 30px 0 0 30px;

            strong {
                display: block;
                font-size: 21px;
                font-weight: 600;
                margin: 0 0 10px 0;
            }
    
            p {
                font-size: 18px;
                line-height: 1.45;
            }
        }  
    }

    .year {
        font-size: 40px;
        font-weight: 900;
        margin: 80px 0 30px 0;
    }

    .history {
        display: flex;

        .month {
            flex: 1;
            font-size: 30px;
            font-weight: 600;
        }

        ul {
            flex: 6;
            font-size: 21px;
            font-weight: 300;
            line-height: 1.45;
            margin: 0 0 20px 0;

            li {
                min-width: 150px;
            }
        }
    }

    .lasthistory {
        margin: 0 0 80px 0;
    }
}