@use 'App';

.mnc {
    display: flex;
    margin: 80px 0 100px 0;

    div {
        flex: 1;
    }

    .txt {
        img {
            display: block;
            margin: 80px auto 50px;
        }

        strong {
            display: block;
            font-size: 24px;
            font-weight: 600;
            line-height: 1.45;
            margin: 0 0 30px 0;
        }

        p {
            font-size: 18px;
            font-weight: 500;
            line-height: 1.45;
        }
    }
}

.nangdong {
    margin: 80px 0 100px 0;

    .box {
        display: flex;
        margin: 0 0 100px 0;

        .txt {
            padding: 30px 0 0 100px;

            strong {
                display: block;
                font-size: 30px;
                font-weight: 600;
                margin: 0 0 10px 0;
            }

            p {
                font-size: 18px;
                font-weight: 300;
                margin: 0 0 30px 0;
            }

            span {
                display: block;
                font-size: 15px;
                line-height: 1.25;
                margin: 0 0 60px 0;
            }

            a {
                font-size: 14px;
                padding: 5px 10px;
                border: 1px solid #333;
            }
        }
    }
}


.nangzang {
    margin: 80px 0 100px 0;
    display: flex;

    .txt {
        margin: auto 0;
        padding: 0 0 0 100px;

        span {
            display: inline-block;
            background: App.$mc;
            color: #fff;
            font-size: 15px;
            font-weight: 600;
            padding: 10px 20px;
            margin: 0 0 10px 0;
        }

        strong {
            display: block;
            font-size: 24px;
            font-weight: 600;
            margin: 0 0 10px 0;
        }

        p {
            margin: 0 0 100px 0;
        }

        a {
            font-size: 14px;
            padding: 5px 10px;
            border: 1px solid #333;
        }
    }
}