.ntc {
    margin: 80px 0 100px 0;
    li {
        position: relative;
        padding: 30px 30px;

        strong {
            display: block;
            font-size: 21px;
            font-weight: 700;
            margin: 0 0 10px 0;
        }

        span {
            position: absolute;
            right: 30px;
            bottom: 30px;
            font-size: 14px;
            font-weight: 600;
        }
    }

    li~li {
        border-top: 1px solid #ddd;
    }
}