@use 'App';

.Subpage {
    .subImg {
        height: 400px;
    }

    .subImg01 {
        background: url(../../public/images/brand01.jpg) no-repeat center center/cover;
    }

    .subImg01_2 {
        background: url(../../public/images/brand02.jpg) no-repeat center center/cover;
    }

    .subImg01_3 {
        background: url(../../public/images/brand03.jpg) no-repeat center center/cover;
    }

    .subImg02 {
        background: url(../../public/images/menu01.png) no-repeat center center/cover;
    }

    .subImg02_2 {
        background: url(../../public/images/menu02.png) no-repeat center center/cover;
    }

    .subImg02_3 {
        background: url(../../public/images/menu03.png) no-repeat center center/cover;
    }

    .subImg04 {
        background: url(../../public/images/fran01.png) no-repeat center center/cover;
    }

    .subImg04_2 {
        background: url(../../public/images/fran02.png) no-repeat center center/cover;
    }

    .subImg04_3 {
        background: url(../../public/images/fran03.png) no-repeat center center/cover;
    }

    .subImg05 {
        background: url(../../public/images/notice01.png) no-repeat center center/cover;
    }

    .subImg05_2 {
        background: url(../../public/images/notice02.png) no-repeat center center/cover;
    }

    .subImg05_3 {
        background: url(../../public/images/notice03.png) no-repeat center center/cover;
    }

    .subImg06 {
        background: url(../../public/images/news01.png) no-repeat center center/cover;
    }

    .subImg06_2 {
        background: url(../../public/images/news02.png) no-repeat center center/cover;
    }

    .subImg06_3 {
        background: url(../../public/images/news04.png) no-repeat center center/cover;
    }

    .subImg06_4 {
        background: url(../../public/images/news01.png) no-repeat center center/cover;
    }

    .subImg07 {
        background: url(../../public/images/mealandcook.png) no-repeat center center/cover;
    }

    .navBar {
        line-height: 70px;
        background: linear-gradient(to right, App.$mc 25%, #fff 25% 70%);
        border-bottom: 1px solid #f1f1f1;
    }

    .inner {
        display: flex;
        justify-content: space-between;

        .title {
            font-size: 26px;
            font-weight: 600;
            color: #fff;
        }

        ul {
            display: flex;

            li {
                border-left: 1px solid #f1f1f1;

                &:last-child {
                    border-right: 1px solid #f1f1f1;
                }

                a {
                    display: block;
                    padding: 0 25px;
                }
            }
        }
    }
}